@import '../components/colors.less';

#card-selector {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

ul.deck {
  position: relative;
  list-style:none;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  perspective: 800px;
  padding: 0;
  text-align: center;

  vertical-align: middle;
  display: inline-block;

  &.card-selected li.card {
    opacity: 0;
    z-index: 10;
  }

  li.card {
    display: inline-block;
    border: 2px solid white;
    width: 22%;
    min-width: 45px;
    height: 5rem;
    background-color: @cardBgColor;
    margin: 0 2.5% 5%;
    border-radius: 10px;
    text-align: center;

    &.selected {
      width: 100%;
      transition: all 0.5s; 
      opacity: 1;
      display: block;
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 100;

      figure.value {
        font-size: 7rem;
      }
      
      &.not-revealed {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        
        figure.value {
          display: none;
        }
      &:after {
        position: absolute;
        border: 2px solid white;
        transform: none;
        -webkit-transform: none;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        background: @cardBgColor;
        border-radius: 10px;
        border: none;
    }
      }

      figure.value {
        opacity: 0;
      }

      &.revealed {
        transform: none;
        -webkit-transform: none;

        figure.value {
          opacity: 1;
          transition: opacity 0.5s;
          &.infinity {
            font-size: 15rem;
            margin: 40% 23%;
          }
        }
      }
    }

    figure.value {
      color: white;
      font-size: 1.5rem;
      margin: 50% 25%;
      &.coffee {
        background: url('images/coffee-cup.svg') no-repeat;
        background-size: 50%;
        background-position: 50% 50%;
        width: 100%;
        height: 100%;
        margin: 0;
        .text {
         display: none; 
        }
      }
    }
  }
}
