@import '../components/colors.less';

#card-selector {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

ul.deck {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style:none;
  width: 90%;
  max-width: 300px;
  text-align: center;
  perspective: 800px;
  padding: 0;
  text-align: center;
  vertical-align: middle;

  &.card-selected li.card {
    opacity: 0;
    z-index: 10;
  }

  li.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    background-color: @cardBgColor;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;

    &.selected {
      position: absolute;
      width: 90%;
      transition: all 0.5s; 
      opacity: 1;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 100;

      figure.value {
        font-size: 7rem;
      }
      
      &.not-revealed {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        
        figure.value {
          display: none;
        }
      &:after {
        position: absolute;
        border: 2px solid white;
        transform: none;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        background: @cardBgColor;
        border-radius: 10px;
        border: none;
    }
      }

      figure.value {
        opacity: 0;
      }

      &.revealed {
        transform: none;
        -webkit-transform: none;

        figure.value {
          opacity: 1;
          transition: opacity 0.5s;
        }
      }
    }

    figure.value {
      color: white;
      font-size: 1.5rem;
      &.coffee {
        background: url('images/coffee-cup.svg') no-repeat;
        background-size: 50%;
        background-position: 50% 50%;
        width: 100%;
        height: 100%;
        .text {
         display: none; 
        }
      }
    }
  }
}
